@{
    ViewBag.Title = "DisplayData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>ID:@ViewBag.Id</p>
<p>Name:@ViewBag.Name</p>
<p>Gender:@ViewBag.Gender</p>
<p>Gender:@ViewBag.Coures</p>
<p>Cities:@ViewBag.Cities</p>


